{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'title.user_edit'|trans }}</h1>

    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.surname) }}

    <button type="submit" class="btn btn-primary">{{ 'action.edit'|trans }}</button>

    <a href="{{ path('url_index') }}" class="btn btn-secondary">{{ 'action.back'|trans }}</a>

    {{ form_end(form) }}
{% endblock %}
