{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.url_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.url_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.long_url' }}</th>
                <th>{{ 'label.click_count'|trans }}</th>
                <th>{{ 'label.creation_date'|trans }}</th>
                <th>{{ 'label.mod_date'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for url in pagination %}
                <tr>
                    <td>{{ url[0].id }}</td>
                    <td><a href="{{ url[0].longUrl }}" target="_blank">{{ url[0].longUrl }}</a> (<a href="{{app.request.getSchemeAndHttpHost()}}/url/{{ url[0].id }}">{{app.request.getSchemeAndHttpHost()}}/url/{{ url[0].id }}</a>)</td>
                    <td>{{ url.count }}</td>
                    <td>{{ url[0].creationDate|date }}</td>
                    <td>{{ url[0].modDate|date }}</td>
                    <td>
                        <a href="{{ url('url_redirect', {id: url[0].id}) }}" title="{{ 'action.go_to'|trans }}">
                            {{ 'action.go_to'|trans }}
                        </a>
                        <a href="{{ url('url_show', {id: url[0].id}) }}" title="{{ 'action.details'|trans }}">
                            {{ 'action.details'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}