{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.url_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.url_list'|trans }}</h1>
    {% if filter is defined and filter|length %}
        <h2>{{ 'info.sort_by_tag' }}: {{ filter.title }}</h2>
    {% endif %}
    <a href="{{ url('url_create') }}" title="{{ 'action.create'|trans }}">
        {{ 'action.create'|trans }}
    </a>
    {% if pagination is defined and pagination.items|length %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'url.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.long_url'|trans, 'url.longUrl') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.click_count'|trans, 'count') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.creation_date'|trans, 'url.creationDate') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.mod_date'|trans, 'url.modDate') }}</th>
                <th>{{ 'label.tags'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for url in pagination %}
                <tr>
                    <td>{{ url[0].id }}</td>
                    <td><a href="{{ url[0].longUrl }}" target="_blank">{{ url[0].longUrl }}</a> (<a
                                href="{{ url('url_redirect', {id: url[0].id}) }}">{{ url('url_redirect', {id: url[0].id}) }}</a>)
                    </td>
                    <td>{{ url.count }}</td>
                    <td>{{ url[0].creationDate|date }}</td>
                    <td>{{ url[0].modDate|date }}</td>
                    <td>
                        {% if url[0].tags is defined and url[0].tags|length %}
                            {% for tag in url[0].tags %}
                                <a href="{{ url('url_index', {'filters.tag_id' : tag.id}) }}" title="{{ tag.title }}">{{ tag.title }}</a>&nbsp;
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url('url_redirect', {id: url[0].id}) }}" title="{{ 'action.go_to'|trans }}">
                            {{ 'action.go_to'|trans }}
                        </a>
                        <br>
                        <a href="{{ url('url_show', {id: url[0].id}) }}" title="{{ 'action.details'|trans }}">
                            {{ 'action.details'|trans }}
                        </a>
                        <br>
                        <a href="{{ url('url_edit', {id: url[0].id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>
                        <br>
                        <a href="{{ url('url_delete', {id: url[0].id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}